* {
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #fafafa;
}

#g-one {
  height: 50px;
}

.t-1a {
  line-height: 50px;
  color: #29b078;
}

.u-1a {
  line-height: 50px;
}

.qq:hover {
  width: 40px;
  height: 40px;
}

.weibo:hover {
  width: 40px;
  height: 40px;
}

.vx:hover {
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 575px) {
  #g-one {
    height: 100px;
  }
}

.g-two {
  background-color: #29b078;
  height: 50px;
}

.t-2a {
  text-align-last: center;
  width: 70px;
  height: 40px;
}

.t-2b {
  text-decoration: none;
  color: #fff;
}

.t-2a:hover {
  border-bottom: 4px solid #fff;
}

.m-2a {
  position: absolute;
  top: 10px;
  right: 19%;
}

@media only screen and (max-width: 767px) {
  .g-two {
    height: auto;
  }
  .m-2a {
    position: static;
  }
  .t-2a {
    width: 100%;
    margin-top: 12px;
  }
  .t-2a {
    border-bottom: 1px solid #fff;
  }
  .m-2b {
    padding: 8px 0 0 0;
  }
}

footer {
  background-color: #29b078;
}

.m-fa {
  text-align: center;
  border: 2px solid #32c086;
  color: #fff;
}

footer{
  color: #fff;
}

.t-fa,
.t-fe {
  padding: 30px 0 0 0;
}

.t-fc,
.t-fb {
  display: flex;
}

.t-fd {
  margin-left: 4px;
}

footer p:hover {
  text-decoration: underline;
}
